[submodule "pixi.js"]
	path = pixi.js
	url = https://github.com/pixijs/pixi.js
[submodule "Ejecta"]
	path = Ejecta
	url = https://github.com/phoboslab/Ejecta.git
[submodule "pixi-compressed-textures"]
	path = pixi-compressed-textures
	url = https://github.com/pixijs/pixi-compressed-textures.git
